.box-orders-history {
    display: block;
}

.box-orders-history__card {
    height: 100%;
    border: 1px solid #242939;
}

.box-orders-history__title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 3px solid #242939;
    padding-top: 20px;
    font-size: 26px;
    font-weight: 700;
}
