.order {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 4px solid #242939;
}

.order:last-child {
    border: unset;
}

.order__title-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 2px solid #2429390e;
}

.order__dish {
    padding: 6px 27px;
    border-bottom: 1px solid #2429390e;
    font-size: 14px;
}

.order__dish:last-child {
    border: unset;
}

.order__title {
    font-size: 16px;
    font-weight: 600;
}

.order__status {
    display: inline-block;
    min-width: 10px;
    max-height: 25px;
    padding: 5px 7px;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #bd3b24;
    border-radius: 100px;
}

.paid {
    background-color: #208601;
}
